---
import NavBar from '../components/NavBar.astro'
import Wrapper from '../components/Wrapper.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title={'Home'}>
  <header class="min-h-screen">
    <NavBar />
    <Wrapper>
      <section
        class="grid lg:grid-cols-8 lg:grid-rows-4 h-[calc(90vh-80px)] gap-4 py-10"
      >
        <div
          class="bg-gray-100 rounded-2xl hover:scale-[0.98] duration-500 transition col-span-2 row-span-1"
        >
        </div>
        <div
          class="bg-gray-100 rounded-2xl hover:scale-[0.98] duration-500 transition col-span-2 row-span-4"
        >
        </div>
        <div
          class="bg-gray-100 rounded-2xl hover:scale-[0.98] duration-500 transition col-span-2 row-span-2"
        >
        </div>
        <div
          class="bg-gray-100 rounded-2xl hover:scale-[0.98] duration-500 transition col-span-2 row-span-3"
        >
        </div>
        <div
          class="bg-gray-100 rounded-2xl hover:scale-[0.98] duration-500 transition col-span-2 row-span-3"
        >
        </div>
        <div
          class="bg-gray-100 rounded-2xl hover:scale-[0.98] duration-500 transition col-span-1 row-span-2"
        >
        </div>
        <div
          class="bg-gray-100 rounded-2xl hover:scale-[0.98] duration-500 transition col-span-1 row-span-2"
        >
        </div>
        <div
          class="bg-gray-100 rounded-2xl hover:scale-[0.98] duration-500 transition col-span-2 row-span-1"
        >
        </div>
      </section>
    </Wrapper>
  </header>
  <main></main>
</Layout>

<style is:global>
  :root {
    --primary: 260 68% 48%;
  }

  .text-primary {
    color: hsl(var(--primary));
  }
  .bg-primary {
    background-color: hsl(var(--primary));
  }
</style>
